.cards {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 520px) {
    .cards {
      margin-top: 20px;
      flex-direction: column;
    }
  }