.greetings {
  display: grid;
  gap: 100px;
  grid-template-columns: auto auto;
  background-color: #fff;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  color: #3f2512;
}

@media screen and (max-width: 760px) {
  .greetings {
    min-height: 200px;
    grid-template-columns: auto;
    padding: 50px 15px;
    gap: 50px;
  }
}
