.header {
  margin: 0 48px 0;
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'MADE Evolve Sans';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
}

@media screen and (max-width: 760px) {
  .header {
    margin: 0 calc(48px/2) 0;
  }
}

@media screen and (max-width: 520px) {
  .header {
    margin: 0 calc(48px/3) 0;
    padding-top: 16px;
  }
}
