.cards__item {
  text-decoration: none;
  margin-right: 50px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .cards__item {
    margin-right: 0;
    margin-bottom: 25px;
    width: 250px;
  }

  .cards__item:last-of-type {
    margin-bottom: 0;
  }
}