.description__title {
  max-width: 400px;
  font-size: 73px;
  text-align: start;
  position: absolute;
  right: 230px;
  font-family: 'Georgia';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  color: #fff;
  line-height: 1em;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 520px) {
  .description__title {
    position: relative;
    margin: 0;
    bottom: 87px;
    left: 0;
    line-height: 0.9em;
    text-align: center;
    font-size: 60px;
  }
}