.aphorism__author {
  margin-left: 20px;
  padding-top: 20px;
  font-family: 'MADE Evolve Sans', 'Times New Roman', Times, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}
