.background {
  width: 800px;
  height: 500px;
  background-color: #f5f4f2;
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 0;
}

@media screen and (max-width: 760px) {
  .background {
    width: 290px;
    height: 370px;
    top: 200px;
  }
}