.event__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 80px;
  z-index: 1;
  color: #b4a1a1;
}

@media screen and (max-width: 760px) {
  .event__info {
    position: static;
    max-width: 200px;
    margin-left: 50px;
  }
}
